@font-face {
  font-family: "Beleren Bold";
  src: url("./BELEREN-BOLD.eot");
  src:
    url("./BELEREN-BOLD.eot?#iefix") format("embedded-opentype"),
    url("./BELEREN-BOLD.ttf") format("ttf"),
    url("./BELEREN-BOLD.svg?Beleren-Bold") format("svg");
}
